body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #666666;
  background-color: #ffffff;
}

h1 {
  color: #424242;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.search-field {
  color: #313437;
  background-color: #fff;
  padding: 50px 0;
}

.search-field p {
  color: #7d8285;
  line-height: 1.5;
}

.search-field h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.search-field .intro {
  font-size: 20px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.search-field .intro p {
  margin-bottom: 35px;
}

.search-field form {
  text-align: center;
}

.search-field form .form-control {
  background: #eff1f4;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 9px;
  height: 45px;
  margin-right: 10px;
  min-width: 250px;
}

.search-field form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
}

.search-field form .btn:hover {
  opacity: 1;
}

.search-field form .btn:active {
  transform: translateY(1px);
}

.search-field form .btn-primary {
  background-color: #055ada !important;
  color: #fff;
  outline: none !important;
}

#star {
  color: #FFD700;
}

.selection select {
  font-family: Raleway, sans-serif;
  background: transparent;
  padding-left: 1em;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  width: 12em;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 0.95em;
  font-weight: bold;
}

@-moz-document url-prefix() {
  .selection {
    margin-top: 0.3em;
  }

}

.selection {
  background: url(dropdown.png) no-repeat right white;
  width: 8em;
  height: 2.9em;
  overflow: hidden;
  border: 1px solid #ccc;
  margin-right: 0.8em;
}

#img {
  padding-bottom: 1.4em;
}

.card {
  width: 40rem;
  border: 2px solid #ccc;
  border-radius: 15px;
  background: #FAFAFA;
}

@media(max-width:768px) {
  select {
    margin-bottom: 1em;
    padding-top: 10px;
  }

  .search {
    margin-top: 1.5em;
    margin-right: 10px;
  }

}