{% include 'base.html' %}
<body>
    <div class="search-field">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">movie-clue</h2>
                <p class="text-center">Our search spans across the universe.</p>
            </div>
            <div class="container">
                <form method="" action="/find/" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        <div style="padding-right: 10px; display: inline-flex;">
                            {{ form.choice }}
                        </div>
                        {{ form.search }}
                    </div>
                    <div style="display: inline-flex;">
                        <input class="btn btn-primary text-center search" type="submit" value="SEARCH" name="">
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</body>